.row-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text-center {
    text-align: center !important;
    text-align: -moz-center !important;
    text-align: -webkit-center !important;
    text-align: -ms-center !important;
}

.justified {
	text-align: justify !important;
}

.img-responsive {
	max-width: max-content;
	max-width: -moz-available;
	max-width: -moz-available;
	max-width: -webkit-available;
	max-height: unset;
	height: auto;
}

/*add custom nav bar title color*/
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #fb3d11;
}

.bg-dlrtx-1 {
  background: #f9901a;
}
.bg-dlrtx-2 {
  background: rgba(246,71,75,1);
}
.bg-dlrtx-3 {
  background: rgba(184,121,174,1);
}
.bg-dlrtx-4 {
  background: rgba(57,182,219,1);
}
.bg-dlrtx-5 {
  background: #89c030;
}
.dolar-gradient {
	background: rgb(249,144,26);
	background: -moz-linear-gradient(90deg, rgba(249,144,26,1) 0%, rgba(246,71,75,1) 20%, rgba(184,121,174,1) 50%, rgba(57,182,219,1) 75%, rgba(137,192,48,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(249,144,26,1) 0%, rgba(246,71,75,1) 20%, rgba(184,121,174,1) 50%, rgba(57,182,219,1) 75%, rgba(137,192,48,1) 100%);
	background: linear-gradient(90deg, rgba(249,144,26,1) 0%, rgba(246,71,75,1) 20%, rgba(184,121,174,1) 50%, rgba(57,182,219,1) 75%, rgba(137,192,48,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9901a",endColorstr="#89c030",GradientType=1); 
}

.dolar-gradient-2 {
	background: rgb(249,144,26);
	background: -moz-linear-gradient(90deg, rgba(249,144,26,1) 0%, rgba(246,71,75,1) 50%, rgba(184,121,174,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(249,144,26,1) 0%, rgba(246,71,75,1) 50%, rgba(184,121,174,1) 100%);
	background: linear-gradient(90deg, rgba(249,144,26,1) 0%, rgba(246,71,75,1) 50%, rgba(184,121,174,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9901a",endColorstr="#b879ae",GradientType=1); 
}

.dolar-gradient-orangred {
	background: rgb(249,144,26);
	background: -moz-linear-gradient(90deg, rgba(249,144,26,1) 0%, rgba(246,71,75,1) 69%);
	background: -webkit-linear-gradient(90deg, rgba(249,144,26,1) 0%, rgba(246,71,75,1) 69%);
	background: linear-gradient(90deg, rgba(249,144,26,1) 0%, rgba(246,71,75,1) 69%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9901a",endColorstr="#f6474b",GradientType=1); 
}

.dolar-gradient-orangred-darken-1 {
	background: rgb(212,112,0);
	background: -moz-linear-gradient(90deg, rgba(212,112,0,1) 0%, rgba(182,17,17,1) 69%);
	background: -webkit-linear-gradient(90deg, rgba(212,112,0,1) 0%, rgba(182,17,17,1) 69%);
	background: linear-gradient(90deg, rgba(212,112,0,1) 0%, rgba(182,17,17,1) 69%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d47000",endColorstr="#b61111",GradientType=1); 
}
.hero-bg-color {
  background-color: #E4F4FA;
}
/*color de fondo de la vieja version de la web*/
.hero-bg-color-original {
  background-color: #A3DAEF;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');
*, html, body {
	font-family: 'Rubik', sans-serif;
}